################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyConsoleApp/MyConsoleApp/bin/Debug/net5.0
/MyConsoleApp/MyConsoleApp/obj
/MyConsoleApp/MyConsoleApp/.vs/MyConsoleApp/v16
/MyConsoleApp/.vs/MyConsoleApp/v16
/MyConsoleApp/Lesson3/.vs/MyConsoleApp/v16
/MyConsoleApp/Lesson3/bin/Debug/net5.0
/MyConsoleApp/Lesson3/obj
/MyConsoleApp/Lesson4/obj
/MyConsoleApp/.vs/MyConsoleApp/DesignTimeBuild
/MyConsoleApp/RomeTask/bin/Debug/netcoreapp3.1
/MyConsoleApp/RomeTask/obj
